@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700&family=Poppins&family=Roboto&display=swap");

$primaryfont: "Montserrat", sans-serif;
$secondaryfont: "Roboto", sans-serif;
$thirdfont:'Poppins', sans-serif;

$maincolor: #edb026;
$secondarycolor: whitesmoke;